---
import Buscador from '../components/Buscador.astro'
---

<header>
    <h2>ValBelle</h2>
    <!-- <nav>
        <a href="">Pulseras</a>
        <a href="">Cadenas</a>
    </nav>

    <div class="contenedor_buscador">
    </div> -->
      
</header>

<style>
    .contenedor_buscador {
        display: flex;
        justify-content: flex-end;
        width: 30%;
    }
    h2 {
        /* width: 30%; */
        text-align: center;
        color: #ffffff;
        font-weight: bold;
    }

    header {
        height: 4rem;
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        padding: 0.5rem 10rem;
        background-color: #2B2B2B;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    nav a {
        color: #ffffff;
        text-decoration: none;
    }
    nav a:hover {
        text-decoration: underline;
    }
</style>